.averageSessionsContainer {
  background-color: #ff0000;
  border-radius: 0.8rem;
  padding: 1rem 1rem 2rem 1rem;
  color: white;
  width: 30%;
 
  @media screen and (max-width: 1200px) {
    height: 13rem;
  }

  .title {
    width: 60%;
    opacity: 0.5;
    position: relative;
    left: 1.5rem;

    @media screen and (max-width: 1200px) {
      left: 1rem;
      font-size: 1rem;
      width: 70%;
    }
  }
}