.tooltipContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #e60001;
  color: white;
  font-size: 0.9rem;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}