.performanceChartContainer {
  background-color: #282d30;
  padding: 1rem ;
  width: 30%;
  border-radius: 0.8rem;

  @media screen and (max-width: 1200px) {
    height: 14rem;
  }

  .radarLabel {
    font-size: 0.75rem;

    @media (max-width: 1200px) {
      font-size: 0.5rem;
    }
  }
}