body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-weight: 200;
  overflow-x: hidden;
  background-color: #FFFFFF;

}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}